.pagina-module-sec {
    margin-bottom: 98px;
}
.pagina-module-lft-bg {
    position: absolute;
    left: 0;
    top: -12%;
    height: 650px;
    width: 49%;
    border-bottom-right-radius: 280px;
}
.pagina-module-cntlr {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.pagina-module-rgt {
    width: 100%;
}
.pagina-module-rgt-wrap {
    /*padding: 100px 0;*/
}
.pagina-module-rgt-desc-title a{
    font-style: normal;
    font-weight: 600;
    /*font-size: 48px;*/
    letter-spacing: -0.02em;
    color: #2E3044;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.pagina-module-rgt-desc-title a:hover{
    color: #0084A9;
    text-decoration: none;
}
.pagina-module-rgt-inr ul {
    padding-left: 0;
    padding-bottom: 30px;
}
.pagina-module-rgt-inr ul li{
    padding: 5px 0 0 20px;
}
.pagina-module-rgt-inr ul li a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0084A9;
    text-decoration: underline;
}
.pagina-module-rgt-inr ul li::before{
    top: 14px;
    background-image: url(../images/list-icon-blue.png);
}
.pagina-module-rgt-cntlr {
    padding-left: 60px;
}
.pagina-module-rgt-inr ul li a:hover{
    text-decoration: none;
}