.page-banner-sec{
    margin-bottom: 100px;
}
.page-bnr-cntlr{
    position: relative;
}
.page-bnr-hdng-bg {
    background-color: #f3f8fb;
    border-bottom-right-radius: 280px;
    position: absolute;
    left: 0;
    width: 48%;
    min-height: 120px;
    top: -30px;
}
.page-bnr-cntnts {
    display: flex;
    flex-wrap: wrap;
}
.page-bnr-cntnts-cntlr {
    background-color: #0084a9;
}
.page-bnr-title{
    display: inline-block;
}
.pg-bnr-title:after {
    position: absolute;
    content: "";
    right: 1%;
    top: 11px;
    background-image: url('../images/page-bnr-rectngle.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 70px;
    border-top-right-radius: 35px;
}
.pg-bnr-breadcrumb {
    padding-left: 90px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
}
.pg-bnr-title {
    width: 50%;
    padding-right: 100px;
    position: relative;
}
.page-bnr-cntnts-inr {
    height: 60px;
}
.breadcrumb-cntlr ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -23px;
}
.breadcrumb-cntlr ul li {
    padding: 0 23px;
    position: relative;
    line-height: 1;
}
.breadcrumb-cntlr ul li a, .breadcrumb-cntlr ul li span, .breadcrumb-cntlr ul li a span {
    display: inline-block;
    vertical-align: baseline;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    font-size: 14px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-transform: uppercase;
}
.breadcrumb-cntlr ul li.active span, .breadcrumb-cntlr ul li.active a {
    /*color: #E63312;*/
}
.breadcrumb-cntlr ul li:not(:first-child):after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-image: url('../images/right-arrow-red.svg');
    background-repeat: no-repeat!important;
    background-size: contain!important;
    width: 12px;
    height: 7px;
}
.breadcrumb-cntlr ul li a span:hover {
    color: #2e3144;
}
.breadcrumb-cntlr ul li.active{}
.breadcrumb-cntlr ul li a{}
.breadcrumb-cntlr ul li a span{}














.page-banner{
	/*background: #fafafa;*/
	padding: 20px 0;
	position: relative;
}
.dfp-promo-module-cntlr {
    display: flex;
    flex-wrap: wrap;
}
.dfp-promo-module-des-empty {
    width: 48%;
}
.dfp-promo-module-des {
    width: 52%;
}
.dfp-promo-module-des p:last-of-type{
	margin-bottom: 0;
}
.dfp-full-width-img-module {
	padding: 60px 0;
}
.dfp-full-width-img-cntlr p{
	margin-bottom: 0!important;
}
.block p{
	margin-bottom: 30px;
}
.block p:last-of-type{
	margin-bottom: 0;
}
.block strong{
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: -0.02em;
	color: #616268;
}
.block .abslt-date strong{
    color: #fff;
    font-size: 30px;
    display: inline-block;
}
.block ul li{
	padding: 0;
	padding-bottom: 12px;
}
.block ul{
	padding-left: 40px;
}
/*.block ul li::before {
    left: -21px;
    background: url('../images/list-icon.svg');
    width: 12px!important;
    height: 2px!important;
    top: 17px!important;
}*/
.block-850{
	max-width: 850px;
	margin: 0 auto;
	width: 100%;
}
.gallery-column-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -12px;
}
.gallery-item {
    padding: 0 12px;
}
.dfp-cta-module-cntlr p{
	margin-bottom: 25px!important;
}
.block .module-tstimonl-slider-cnltr {
    padding-top: 80px;
    border-top: 1px solid#f3f3f3;
    border-bottom: 1px solid#f3f3f3;
    padding-bottom: 120px;
}
.block .module-team-experts-wrap{
	border-top: none;
	padding-top: 90px;
	padding-bottom: 85px;
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 90px;
}
.block .experts-sec-intro {
    padding-bottom: 20px;
}
.block .news-grid-slider-itm-wrap {
    max-width: 50%;
}
.dfp-text-module .module-sec-intro{
	text-align: initial;
}
.dfp-grid-module .module-expertise-grids-cntlr ul li.active .expertise-grid:after{
	bottom: -33%;
}
.dfp-grid-module ul{
	padding-left: 0!important;
}
.dfp-grid-module-cnltr {
    padding-top: 90px;
    border-top: 1px solid #f3f3f3;
    padding-bottom: 105px;
}
.fl-dft-lftimg-rgtdes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 11px;

}
.fl-dft-rgtimg-lftdes {
    padding-bottom: 90px;
    border-bottom: 1px solid#f3f3f3;
    margin-bottom: 115px;
}
.fl-dft-lftimg-rgtdes-lft {
    width: 50%;
    padding-right: 12px;
}
.fl-dft-lftimg-rgtdes-rgt {
    width: 50%;
    padding-left: 80px;
}
.pg-bnr-rgt-img{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
	transform: translateY(22px);
	-ms-transform: translateY(22px);
	-webkit-transform: translateY(22px);
	-o-transform: translateY(22px);
}
.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-lft {
    order: 1;
    padding-right: 0;
    padding-left: 12px;
}
.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt {
    padding-left: 0;
    padding-right: 80px;
}
.fl-fancy-img {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.fl-fancy-module:hover .fl-fancy-img {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.fl-fancy-module {
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: 470px;
    position: relative;
    margin-bottom: 70px;
    margin-top: 30px;
}
.fl-video-play-cntlr {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    color: #fff;
    width: 85px;
    height: 85px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.fl-video-play-cntlr i svg {
    width: 70px;
    height: 70px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.gallery-item {
    margin: 0;
    padding: 0 12px;
    margin-bottom: 24px;
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%;
}
.gallery-icon-img {
    height: 225px;
    display: none;
}
.has-inline-bg .gallery-icon-img {
    height: 225px;
    display: block;
    border-radius: 20px;
}
.has-inline-bg .gallery-item img {
    display: none;
}
.table-dsc {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0;
    background-color: transparent;
    border-top: none;
    border-top: 1px solid #edeef0;
}
.dfp-tbl-wrap {
    padding-bottom: 80px;
}
.table-dsc table {
    width: 100%;
    padding: 20px;
    border: none;
    max-width: 850px;
}
.table-dsc table tr th {
    border: none;
    color: #777F84;
    font-weight: 700;
    padding: 15px 0 14px;
    font-size: 16px;
    line-height: 18px;
}
.table-dsc table thead tr th, .table-dsc table tbody tr td {
    padding-left: 15px;
    padding-right: 15px;
}
.table-dsc table thead tr th:first-child, .table-dsc table tbody tr td:first-child {
    padding-left: 15px;
    padding-right: 15px;
    width: 85px;
    text-align: left;
}
.table-dsc table tbody tr td:first-child, .table-dsc table tbody tr td:last-child {
    color: #777F84;
}
.table-dsc table span {
    display: block;
}
.table-dsc table tr th span {
    display: block;
}
.table-dsc table tbody {
    border-top: 0;
    margin: 0 3px;
}
.table-dsc table tbody tr {
    border-left: 0;
    border-right: 0;
}
.table-dsc table tbody tr td {
    border-top: 1px solid #edeef0;
}
.table-dsc table tbody tr td span {
    padding-top: 12px;
    padding-bottom: 12px;
}
.table-dsc table tbody tr:first-child td span {
    display: block;
}
.table-dsc table tbody tr td:first-child span {
    font-weight: 700;
    border-bottom: none;
}
.dft-fl-btn{
	
}