/*_________________________-start all for fixed & sticky header-____________________________*/
.fixed-hdr{
    top: 0!important;
    opacity: 1!important;
}
.header-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: -121px; 
    background: #fff;
    transition: top 0.5s;
    -moz-transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;
    z-index: 999;
    opacity: 0;
    box-shadow: 0px 9px 20px -12px rgb(221 218 218 / 75%);
    -webkit-box-shadow: 0px 9px 20px -12px rgb(221 218 218 / 75%);
    -moz-box-shadow: 0px 9px 20px -12px rgba(221,218,218,0.75);
    padding-top: 0!important;
    padding: 15px 0!important;
}
.header-sticky .hdr-logo{
    margin-top: 0!important;
}
.header-sticky .hdr-logo a i img {
    max-width: 162px;
    height: auto;
}
.header-sticky .hdr-cntlr{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*__________________________ -start normal header-_________________________*/
.header{
	padding-top: 20px;
    margin-bottom: 80px;
}
.hdr-cntlr{
	display: flex;
}
.hdr-top-menu {
    padding-bottom: 15px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 30px;
}
.hdr-logo a i img {
    max-width: 200px;
}
.hdr-border {
    position: absolute;
    width: 83%;
    right: 15px;
    top: 35px;
    height: 1px;
    border: 1px solid #F2F2F2;
}
.hdr-top-menu-cntlr{}
.hdr-top-menu-cntlr ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -25px;
	align-items: center;
}
.hdr-top-menu-cntlr ul li{
	padding: 0 25px;
	position: relative;
}
.hdr-top-menu-cntlr ul li a {
	text-transform: capitalize;
	color: #2E3044;
}
.hdr-top-menu-cntlr ul li a:hover{
    color: #0084a9;
}
.topbar-menu-counter {
    position: absolute;
    top: -6px;
    right: 10px;
    background-color: #0084A9;
    border-radius: 50%;
    font-size: 9px;
    color: #fff;
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hdr-rgt {
    margin-left: auto;
    /*width: 100%;*/
}
/*.hdr-cntlr{
    position: relative;
}
.hdr-cntlr:after {
    position: absolute;
    content: "";
    background: #ccc;
    height: 2px;
    top: 40px;
    right: 0;
    width: 100%;
    max-width: 965px;
}*/

.hdr-btm{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.hdr-logo {
    margin-top: 8px;
}
.hdr-logo a{
	display: inline-block;
}
.hdr-logo a i{
	display: inline-block;
}
.hdr-rgt-btm-cntlr {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main-nav {
    padding-right: 70px;
}
.main-nav ul {
    display: flex;
    margin: 0 -30px;
}
.main-nav ul li {
    padding: 0 30px;
}
.main-nav ul li a {
    font-size: 16px;
    font-weight: 600;
    position: relative;
}
.main-nav ul li.active a{
	color: #0084A9;
}
.main-nav ul li.active a:after{
	opacity: 1!important;
}
.main-nav ul li a:after {
    position: absolute;
    content: "";
    background-color: #0084A9;
    bottom: -15px;
    left: 50%;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    width: 2.5px;
    height: 0;
    transform-origin: bottom;
}
.main-nav ul li.active a:after{
    width: 2.5px;
    height: 12px;
}
.main-nav ul li a:hover:after {
    opacity: 1;
    height: 12px;
}
.main-nav ul li.active a:hover:after{
    transform: none;
}
.search-lang-cntlr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hdr-search-icon{

}
.hdr-search-icon a{
	display: inline-block;
}
.hdr-search-icon a i{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 11px;
	border-radius: 100%;
	border: 2px solid #ECECEC;
}
.hdr-search-icon a i img {
    max-width: 16px;
}
.hdr-search-icon a:hover i {
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 0px 5px 1px rgb(0 0 0 / 10%);
}
.hdr-lang-cntlr{
    padding-left: 18px;
}
.fl-lang {
    padding: 0 0 0 0;
    display: flex;
    align-items: center;
}
.fl-lang-cntlr {
    position: relative;
    min-height: 42px;
    min-width: 100px;
}
.fl-lang-cntlr ul {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 20;
    padding-top: 5px;
    border-radius: 20px;
    border: 2px solid #ececec;
    padding-bottom: 5px;
        transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.fl-lang-cntlr ul svg {
    position: absolute;
    right: 20px;
    top: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.fl-lang-cntlr ul:hover svg{
    transform: rotate(180deg);
    color: #0083a7;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.fl-lang ul li.lang-active {
    position: relative;
    opacity: 1;
    padding-top: 0;
}
.fl-lang ul li a:hover, .fl-lang ul li.lang-active a:hover {
    opacity: 1!important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    color: #0083a7;
}
.fl-lang ul li {
    position: absolute;
    text-align: left;
    left: 0;
    right: 0;
    top: 0;
    padding-right: 20px;
    opacity: 0;
    z-index: 22;
    padding-bottom: 0;
    padding-left: 20px;
}
.fl-lang-cntlr:hover li.lang-active, .fl-lang-cntlr:hover li {
    position: relative;
    opacity: 1!important;
    padding-top: 0;
    padding-right: 22px;
}
.fl-lang-cntlr:hover ul {
    background: #fff;
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}
.fl-lang ul li a {
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #2E3044;
    text-decoration: none;
    font-weight: 600;
}
form.search-form {
    /*display: flex;*/
    background-color: #0084a9;
    height: 47px;
    width: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    display: none;
}
.for-show-form form.search-form{
    opacity: 1!important;
}
.srch-btn {
    /*padding-left: 10px;*/
}
.input-col [type=search] {
    border-radius: 5px;
    font-size: 10px;
    color: #000;
    background-color: #efefef;
}
.srch-btn button[type=submit]{
	background-color: transparent;
}
.submit-btn i{
	display: inline-block;
}
.submit-btn i img

