/*__________________-banner-sec- __________________________________*/
.banner-sec {
    margin-top: 100px;
    margin-bottom: 165px;
}
.banner-cntlr{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-lft-img {
    height: 672px;
    width: 47%;
    position: absolute;
    left: 0;
    top: -50px;
    border-bottom-right-radius: 35%;
}
.banner-lft-img:before {
    position: absolute;
    content: "";
    right: -90px;
    top: 17%;
    border-radius: 0px 90px 0px 0px;
    /*transform: matrix(1, 0, 0, -1, 0, 0);*/
    height: 145px;
    width: 90px;
    background: #FFFFFF0F;
}
.banner-lft-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -22.6%;
    border-bottom-right-radius: 80px;
    height: 152px;
    width: 144px;
    background: #f3f8fb;
}

.banner-full-width-bg-sec{
    width: 100%;
}
.banner-ful-wid-bg-cntnt-cntlr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-desc-cntlr {
    padding: 90px 0 90px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-desc-inr p{
    color: #fff!important;
    font-weight: 400;
}
.banner-desc-inr p .higlght-strong{
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff!important;
}
.module-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    line-height: 1.1;
    display: inline-block;
}
.module-title a strong{
    color: #0084A9;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    font-size: 58px;
}

.module-title a{
    display: inline-block;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    line-height: 1.1;
}
.module-title a:hover{
    color: #0084a9;
}
.module-title a:hover strong{
    color: #fff;
}
.bnr-desc-title a strong{
    color: #0084A9;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.bnr-desc-title strong{
    color: #0084A9;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    font-size: 58px;
}
.bnr-buttons a{
    margin-right: 15px;
}
.fl-bnr-btn-active{
    background: #0084A9;
}
.fl-bnr-btn-active:hover{
    background: transparent;
    color: #fff;
}
.higlght-strong{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #fff;
}

/*_________________________-customer-legality-sec- _______________________-*/
.customer-legality-sec{
    padding-bottom: 80px;
}
.customer-lgalty-cntlr{
    display: flex;
}
.customer-lgalty-lft {
    width: 49.3%;
    padding-right: 80px;
}
.customer-lgalty-title a, .customer-lgalty-title{
    color: #2E3044!important;
    line-height: 1.4;
}
.customer-lgalty-title strong{
    color: #0084a9!important;
}
.customer-lgalty-title a:hover{
    color: #0084a9!important;
}
.customer-lgalty-title:hover a strong{
    color: #2e3044!important;
 }
.customer-lgalty-rgt{
    width: 50.7%;
}
.customer-lgalty-rgt p{
    margin-bottom: 40px;
}
/*- _____________________________-cta-module-sec- ___________________________*/
.cta-module-sec{
    padding-bottom: 100px;
}
.cta-module-sec .higlght-strong{
    color: #616268;
}
.cta-module-cntlr{
    border-radius: 20px;
}
.cta-module-inr{
    padding-top: 70px;
    padding-bottom: 65px;
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
}
.cta-module-inr P{
    color: #fff;
}
.cta-module-title{
    color: #fff;
    font-size: 36px;
}
.cta-module-title a{
    color: #fff;
    text-decoration: none;
}
.cta-module-title a:hover{
    color: #2e3044;
}
.cta-btn{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.cta-btn:hover{
    color: #fff;
    background-color: #00647f;
}
/*_____________ blockqoute-cntlr- ___________________*/
.blockqoute-cntlr {
    padding-top: 90px;
    padding-bottom: 90px;
    border-bottom: 2px solid#f9f9f9;
}
.blockqoute-inr{
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}
.blockqoute-inr blockquote{
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: -0.02em;
    color: #616268;
    margin-bottom: 40px;
}

/*_________________________________-expertise-grids-sec-_____________________________*/

.expertise-grids-sec{
    padding-bottom: 110px;
}
.module-sec-intro {
    padding-bottom: 60px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.expertise-intro p strong{
    color: #616268;
}
.expertise-grids-cntlr{
    /*border-bottom: 2px solid#f3f3f3;*/
}
.expertise-grids-cntlr {
    border-bottom: 1px solid#f3f3f3;
}
.expertise-grids-cntlr ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -60px;
}
.expertise-grids-cntlr ul li{
    max-width: 25%;
    width: 100%;
    padding: 0 60px;
    margin-bottom: 50px;
    position: relative;
}
.expertise-grids-cntlr ul li.active{}
.expertise-grid{
    position: relative;
}
.expertise-grid:hover .expertise-grid-img i img{
    transform: scale(1.1);
}
.expertise-grid:hover .expertise-grid-title{
    /*color: #0084a9;*/
}
.expertise-grids-cntlr ul li.active .expertise-grid:after{
    position: absolute;
    content: "";
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    background-color: #ccc;
    height: 4px;
    width: 85px;
}
.expertise-grid-img{
    margin-bottom: 25px;
}
.expertise-grid-img i{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f8fb;
}
.expertise-grid-img i img{
    max-width: 70px;
    height: auto;
}
.expertise-desc{
    text-align: center;
}
.expertise-grid-title{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    color: #2E3044;
}
.expertise-grid-title a{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #2E3044;
}
.expertise-desc .expertise-grid-title a:hover{
    color: #0084A9!important;
}
.expertise-desc .expertise-grid-title:hover{
    color: #0084A9!important;
}
/*_________________________-nieuws-sec-__________________________________*/
.nieuws-sec{
    background-color: #f3f8fb;
    position: relative;
}
.nieuws-sec:before{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../images/niews-sec-bg-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    width: 350px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.nieuws-cntlr{
    padding: 100px 0;
}
.nieuws-intro{
    /*margin-bottom: 80px;*/
}
.nieuws-intro p strong{
    color: #616268;
}
.nieuws-grids-inr{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -12px;
}
.news-grid-slider-itm-wrap{
    max-width: 33.3333%;
    width: 100%;
    padding: 0 12px;
}
.news-grid-slider-itm {
    background-color: #fff;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 65px;
    padding-bottom: 40px;
    position: relative;
}
.news-grid-slider-itm:hover:after{
    transform: translateX(5px);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.news-grid-slidr-itm-inr p{
    font-size: 14px;
}
.news-grid-slider-itm:after {
    position: absolute;
    content: "";
    height: 17px;
    width: 31px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/right-arrow.png');
    left: 26px;
    bottom: 25px;
    transform: translateX(-5px);
    transform-origin: left;
        transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.abslt-date {
    position: absolute;
    top: -35px;
    left: 30px;
    background-color: #0084aa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    width: 76px;
    text-align: center;
    border-radius: 100%;
    flex-direction: column;
}
.nws-slider-itm-title{
    
}
.nws-slider-itm-title a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.nws-slider-itm-title a:hover{
    color: #0084aa;
}
.abslt-date strong{
    color: #fff;
    font-size: 30px;
    display: inline-block;
}
.abslt-date span{
    font-size: 16px;
    color: #fff;
    display: inline-block;
}
.more-news-btn-cntlr{
    padding-top: 35px;
    text-align: center;
}
.more-news-btn{
    color: #0084A9;
    background-color: transparent;
}
/*__________________________________-testimnil-slide-item-_______________________________*/
.testimonial-slider-sec {
    padding-top: 110px;
    padding-bottom: 180px;
}
.testimnil-slide-item .blockqoute-inr{
    max-width: 850px;
    /*position: relative;*/
}
/*.testimnil-slide-item .blockqoute-inr:after {
    position: absolute;
    content: "";
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url('../images/quote-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 93px;
    width: 93px;
}*/
.testimnil-slide-item .blockqoute-inr blockquote{
    margin-bottom: 15px;
}
.blockquote-icon{
    text-align: center;
    margin-bottom: 15px;
}
.blockquote-icon i{
    display: inline-block;
}
.blockquote-icon i img{
    max-width: 93px;
    height: auto;
}

/*______________-testislider_____________________________*/
.testimonial-slider .slick-prev:before, .testimonial-slider .slick-next:before {
    font-family: '';
    font-size: 29px;
    line-height: 1;
    opacity: 1;
    color: transparent;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}
.testimonial-slider .slick-prev:before {
    background-image: url('../images/left-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 10px;
}
.testimonial-slider .slick-next:before {
    background-image: url('../images/right-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 10px;
}
.testimonial-slider .slick-prev{
    left: 46%;
    top: 114%;
}
.testimonial-slider .slick-next{
    right: 47%;
    top: 114%;
}
/*__________________________________-team-experts-__________________________________*/
.team-experts-sec{
    padding-bottom: 150px;
}
.team-experts-wrap {
    padding-top: 125px;
    border-top: 1px solid #f3f3f3;
}
.team-expert-grids-cntlr{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -11px;
    margin-bottom: 15px;
}
.team-expert-grid{
    padding: 0 11px;
    margin-bottom: 20px;
    max-width: 20%;
    width: 100%;
}
.team-expert-grid-img-cntlr{
    overflow: hidden;
    position: relative;
}
.team-expert-grid:hover .team-expert-grid-img{
    transform: scale(1.1);
        transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.team-expert-grid-img{
    height: 307px;
    max-width: 239px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    overflow: hidden;
}
.team-expert-grid-img img{
    display: none;
}
.team-experts-desc{
    padding-top: 20px;
}
.team-experts-desc p:last-of-type{
    margin-bottom: 0;
}
.team-exprt-desc-title{
    margin-bottom: 0;
}
.team-btn-cntlr{
    text-align: center;
}
.team-btn{
    background-color: #0084aa;
}
.experts-sec-intro{
    padding-bottom: 15px;
}
.experts-sec-intro p strong{
    color: #616268;
}

/*_______________________________--over-cottyn-sec-__________________________*/
.over-cottyn-sec{
    padding-bottom: 80px;
}
.over-cottyn-cntlr{
    background-color: #012545;
    border-radius: 20px;
    padding-left: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 70px;
}
.over-cottyn-inr{
    margin-bottom: 20px;
}
.over-cottyn-inr p{
    color: #fff;
}
.over-cottyn-title{
    margin-bottom: 20px;
    color: #fff;
}
.over-cottyn-title a{
    color: #fff;
    font-size: 36px;
    display: inline-block;
}
.over-cottyn-title a:hover{
    color: #0084aa;
}
.cottyn-btns {
    display: flex;
}
.cottyn-btns a{}
.over-cottyn-btn{
    display: inline-block;
    margin-right: 15px;
    background-color: #0084aa;
    min-width: 138px;
}
.over-cottyn-btn:hover{
    background-color: transparent;
}