.accordion-inline-bg-img img{
    display: none;
    border-radius: 20px;
}
.accordion-inline-bg-img{
    height: 360px;
    border-radius: 20px;
}
.accordion-img{
    border-radius: 20px;
    margin-bottom: 45px;
}
.accordian_card {
    margin-bottom: 35px;
}

.accordian_body {
    padding: 0 40px 40px;
    background-color: #F3F8FA;
}
.accordian > .accordian_body > .accordian_body{
    padding: 0;
}
.accordian > .accordian_card > .accordian_card {
    margin-bottom: 0!important;
}
.child-accordian_card{
    margin-bottom: 0;
}
.child-accordian_card .accordian_header h3 .icon_plus{
    width: 24px;
    height: 24px;
    border: 2px solid#017899;
}
.child-accordian_card >.accordian_header >.accordion-title >span.icon_plus:after{
    height: 1.7px;
    width: 12px;
    background: #0084aa;
    right: 4px;
    margin-top: 0px;
}
.child-accordian_card >.accordian_header >.accordion-title >span.icon_plus:before{
    height: 1.7px;
    width: 12px;
    background: #0084aa;
    right: 4px;
}
.accordian_header h3 {
    padding: 40px;
    margin: 0;
    background: #f3f8fa;
    color: #2E3044;
    cursor: pointer;
    position: relative;
}
.accordian_header h3 .icon_plus {
    position: absolute;
    display: inline-block;
    vertical-align: baseline;
    width: 48px;
    height: 48px;
    border: 4px solid#017899;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    right: 40px;
}
.accordian_card .accordian_header h3 .icon_plus:after {
    position: absolute;
    content: '';
    height: 4.7px;
    width: 22px;
    background: #0084aa;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 1px;
}
.accordian_card .accordian_header h3 .icon_plus:before {
    position: absolute;
    content: '';
    height: 3.7px;
    width: 22px;
    background: #0084aa;
    right: 9px;
    transform: rotate(91deg);
    top: 50%;
    margin-top: -1px;
}

 .accordian_header h3 .icon_remove:before {
    position: absolute;
    content: '';
    height: 3.7px;
    width: 22px;
    background: #3343a2;
    right: 5px;
    transform: rotate(91deg);
    top: 0;
    margin-top: 8px;
}
.accordian_card .accordian_header h3 .icon_remove:before,
.accordian_card:nth-child(2) .accordian_header h3 .icon_remove:before,
.accordian_card:nth-child(3) .accordian_header h3 .icon_remove:before{
	display: none!important;
}

.accordian .accordian_card .accordian_body{
	display: none;
}

.accordian_body p {
    line-height: 1.7;
    margin-bottom: 30px;
}
